.box {
    width: 300px;
    height: 300px;
    border: 10px solid black;
    margin: 50px auto;
    position: relative;
    background-color: black;

 
}

.box::before {
    content: ' ';
    display: block;
    border: 10px solid red;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -30px;
    left: -30px;
    transform: rotate(40deg);
}

.box::after {
    content: ' ';
    display: block;
    border: 10px solid blue;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -10px;
    left: -20px;
    transform: rotate(10deg);
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: black;
    position: relative;
}

a::before {
    content: ' ';
    width: 100%;
    height: 4px;
    background-color: blue;
    position: absolute;
}

a:hover {
    font-size: 30px;
    background-color: brown;
}

p::first-letter {
    font-size: 30px;
    color: blue;
    float:left
}

::selection {
    background-color: green;
    color: azure;
}

a {
    background-color: azure;
    display: inline-block;
    padding: 5px 15px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    transition: background-color 2.2s;
}

body {
    background-image: linear-gradient(180deg,
     rgba(0,0,0,0.3) 0%,
     rgba(0,0,0,0.8) 100%),
      url("https://cdn-teams-slug.flaticon.com/google.jpg");    
      padding-top: 200px; 
}

.circle {
    width: 100px;
    height: 100px;
    border: 10px solid green;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: slideMe;
    animation-duration: 4s;
    /* animation-name: slideDown; */
    /* animation-duration: 4s; */
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
}
    @keyframes slideMe {
        0% {
            top: 0;
            left:0;
        }
        50% {
            background-color: brown;
            left: 90%;
            bottom:90%;
        }
        100% {
            top: 0;
            left: 90%;
            background-color: blue;
        }
    }

    @keyframes slideDown {
        from {
            top: 0;
            right:90%;
        }
        to {
            bottom: 100%;

        }


    }

    #container {
        display:flex;
        color: thistle;
        flex-basis: 40%;
        flex-wrap: wrap;
        box-sizing: border-box;
        
    }

    #container div {
        border: 1px solid burlywood;
        flex-basis: 40%;
        flex-shrink: 0;
        flex-grow: 0;

    }

    #grid {
        color: papayawhip;
        display:grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .item {
        border: 1px solid green;
    }

    .item1 {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .item6 {
        grid-row-start: 2;
        grid-row-end: 4;
    }